 # SVM Loan Approver

 There are a number of classification algorithms that can be used to determine loan elgibility. Some algorithms run better than others. Build a loan approver using the SVM algorithm and compare the accuracy and performance of the SVM model with the Logistic Regression model.

In [1]:
from path import Path
import numpy as np
import pandas as pd

In [3]:
# Read in the data
# Note: The following data has been normalized between 0 and 1
data = Path('./Resources/loans.csv')
df = pd.read_csv(data)
df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

 ## Separate the Features (X) from the Target (y)

In [4]:
# Segment the features from the target
y = df["status"]
X = df.drop(columns="status")

In [5]:
y.describe()

count      100
unique       2
top       deny
freq        53
Name: status, dtype: object

In [6]:
X.describe()

           assets  liabilities      income  credit_score    mortgage
count  100.000000   100.000000  100.000000    100.000000  100.000000
mean     0.407822     0.448794    0.585865      0.512134    0.421334
std      0.170118     0.187731    0.169500      0.173417    0.177942
min      0.000000     0.000000    0.000000      0.000000    0.000000
25%      0.283858     0.315467    0.466205      0.426619    0.299105
50%      0.408147     0.429980    0.571895      0.523289    0.426900
75%      0.489914     0.568660    0.695807      0.593907    0.532889
max      1.000000     1.000000    1.000000      1.000000    1.000000

 ## Split our data into training and testing

In [ ]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

 ## Create a SVM Model

In [ ]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

 ## Fit (train) or model using the training data

In [ ]:
# Fit the data
model.fit(X_train, y_train)

 ## Score the model using the test data

 ## Make predictions

In [ ]:
# Make predictions using the test data
y_pred = model.predict(X_test)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

 # Generate Confusion Matrix

In [ ]:
    from sklearn.metrics import confusion_matrix
    confusion_matrix(y_test, y_pred)

 # Generate Classification Report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))